{:paths ["src" "test"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
        thheller/shadow-cljs {:mvn/version "2.25.2"}
        applied-science/js-interop {:mvn/version "0.3.3"}}

 :npm-deps {"@logseq/libs" "0.0.17"}

 :aliases
 {:dev
  {:extra-paths ["example"]}

  :test
  {:extra-paths ["test"]}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
          slipset/deps-deploy {:mvn/version "0.2.1"}
          org.clojure/data.json {:mvn/version "2.4.0"}}
   :ns-default build}}}